div#AmazonWooCommerce-wrapper {
	border-bottom: 1px solid #dfdfdf;
	margin-left: -19px;
	padding-top: 0px;
	margin-top: -10px;
	background: #f6f6f6;
	position: relative;
	z-index: 1;
	display: table;
}
div#AmazonWooCommerce-ajax-response {
	position: relative;
}
div#AmazonWooCommerce-ajaxLoadingBox {
	width: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -20px;
	padding-left: 40px;
	background: #fff url("images/ajax-loader.gif") no-repeat 10px center;
}

/* AmazonWooCommerce-grid - Fluid 960 AmazonWooCommerce-grid
 -------------------------------------------------------------- */

.AmazonWooCommerce-grid_1, .AmazonWooCommerce-grid_2, .AmazonWooCommerce-grid_3, .AmazonWooCommerce-grid_4, .AmazonWooCommerce-grid_1_3 {
	float: left;
	position: relative;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.inside .AmazonWooCommerce-grid_1, .inside .AmazonWooCommerce-grid_2, .inside .AmazonWooCommerce-grid_3, .inside .AmazonWooCommerce-grid_4 {
	margin-left: 0%;
	margin-right: 0%;
}
.inside .AmazonWooCommerce-grid_4 {
	width: 100%;
}

.inside .AmazonWooCommerce-grid_4:last-child .AmazonWooCommerce-panel {
	margin-bottom: 0px;
	padding: 0px;
}

.AmazonWooCommerce-grid_1 {
	width: 24%;
}
.AmazonWooCommerce-grid_2 {
	width: 49%;
}
.AmazonWooCommerce-grid_3 {
	width: 74%;
}
.AmazonWooCommerce-grid_4 {
	width: 99.0%;
}

.AmazonWooCommerce-grid_1_3 {
	width: 32.33%;
}

audio, img, video {
	max-width: 100%;
}

/* @media Queries -------------------------------------------- */

/* @iPhone < 480px - One column fluid.
 -------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
}

/* @1-Col < 768px - One column fluid.
 -------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none
	}

	.AmazonWooCommerce-grid_1, .AmazonWooCommerce-grid_2, .AmazonWooCommerce-grid_3, .AmazonWooCommerce-grid_4 {
		float: none;
		width: 100%;
		margin: 0 0 2.5em;
	}
}

/* Clear Floated Elements
 ----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

#AmazonWooCommerce-topMenu {
	padding-right: 0px;
	width: 100%;
}
	#AmazonWooCommerce-topMenu > ul > li {
		border-bottom: 1px solid rgba(255,255,255, 0.1);
	}
		#AmazonWooCommerce-topMenu ul li a {
			color: #fff;
			display: block;
			padding: 20px 30px 20px 30px;
			font-weight: bold;
			text-transform: uppercase;
		}
			#AmazonWooCommerce-topMenu > ul > li.active > a {
				background: #1e202c;
				-webkit-box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
				box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
			}
	#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu {
		width: 200px;
		position: relative;
		left: 35px;
		display: none;
		overflow: hidden;
	}
		#AmazonWooCommerce-topMenu ul li.active .AmazonWooCommerce-sub-menu {
			display: block;
		} 
		#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu > li {
			margin: 0px 0px 0px 0px;
			display: block;
			position: relative;
		}
			#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu li.active a {
				color: #8e44ad;
			}
			#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu > li img {
				padding: 8px 10px 8px 10px;
				position: absolute;
				top: 6px;
				left: 0px; 
			}
				#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu > li:hover img {
					background: none;
				}
			#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu > li:last-child {
				border: none;
			}
			#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu > li > a {
				display: block;
				padding: 14px 0px 14px 0px;
				width: 160px;
				padding-left: 40px;
				color: #fff;
				text-transform: none;
			}
				#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-menu li a:hover {
					color: #8e44ad !important;
				}
					
		#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu {
			position: absolute;
			display: none;
			top: 0px;
			left: 170px;
			width: 180px;
			background-color: #fff;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
		}
			#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu > li {
				position: relative;
				display: block !important;
				padding: 8px 0px 8px 0px !important;
				position: relative;
				border-bottom: 1px solid #ededed;
				width: 100%;
				overflow: hidden;
				height: 16px; 
				margin: 0px 0px 0px 0px !important;
			}
				#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu > li:last-child {
					border: none;
				}
				#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu > li a {
					display: block;
					width: 170px;
					height: 36px;
					display: block;
					position: absolute;
					top: 0px;
					left: 0px;
					padding-left: 10px; 
					line-height: 32px !important;
				}
					#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu > li:hover {
						background-color: #F39C12;
					}
						#AmazonWooCommerce-topMenu .AmazonWooCommerce-sub-sub-menu > li:hover > a {
							color: #fff !important;
						}
		/* the hover */
		#AmazonWooCommerce-topMenu > ul > li:hover:not(.active) {
			background: #3d3f55;
			-webkit-box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 64px 0px rgba(0,0,0,0.75);
		}
			#AmazonWooCommerce-topMenu ul > li:hover > a {
				color: #fff !important;
			}
			#AmazonWooCommerce-topMenu ul .AmazonWooCommerce-sub-menu li:hover .AmazonWooCommerce-sub-sub-menu {
				display: block;
			}
		
/* List Table */
.AmazonWooCommerce-table-ajax-list select {
	height: 28px;
	padding: 3px;
	position: relative;
	bottom: -2px;
}
#AmazonWooCommerce-list-table-header {
	margin: -10px 0px 0px 0px;
	float: left;
	width: 100%;
}
	#AmazonWooCommerce-list-table-header .tablenav, #AmazonWooCommerce-list-table-posts .tablenav {
		clear: none;
	}

	#AmazonWooCommerce-list-table-header .AmazonWooCommerce-filter-post_type,
	#AmazonWooCommerce-list-table-header .AmazonWooCommerce-filter-post_parent {
		float: left;
		width: 100px;
		margin: 0px 10px 0px 0px;
		position: relative;
		bottom: -4px;
	}
	#AmazonWooCommerce-list-table-header .AmazonWooCommerce-filter-post_parent {
		width: auto;
		min-width: 100px;
		max-width: 400px;
	}

	.AmazonWooCommerce-list-table-left-col {
		float: left;
		width: 49%;
		margin-right: 2%;
	}
	.AmazonWooCommerce-list-table-right-col {
		float: left;
		width: 49%;
	}
	.AmazonWooCommerce-list-table-search-box {
		width: 300px;
		float: right;
	}
		.AmazonWooCommerce-list-table-search-box input[type=text] {
			float: left;
			width: 195px;
			margin: 4px 0px 0px 0px;
		}
		.AmazonWooCommerce-list-table-search-box input[type=button] {
			float: left;
			margin: 7px 0px 0px 5px;
		}

	.AmazonWooCommerce-list-table-pagination {
		width: 280px;
		float: right;
		margin: 4px 10px 0px 0px;
	}
		.AmazonWooCommerce-table-ajax-list .tablenav .tablenav-pages a {
			box-shadow: none !important;
			background-color: #f9fafa;
			border-radius: 0;
			border: 1px solid #f2f2f2;
			line-height: 20px !important;
		}

	.AmazonWooCommerce-box-show-per-pages {
		float: right;
		margin: 4px 0px 0px 0px;
	}
	.AmazonWooCommerce-box-show-per-pages select.AmazonWooCommerce-post-per-page {
		width: 60px;
		float: left;
	}
	.AmazonWooCommerce-box-show-per-pages label {
		margin: 1px 5px 0px 8px;
		display: block;
		float: left;
		width: 60px;
		
		font-size: 11px;
		color: #ccc;
	}

	#AmazonWooCommerce-list-table-posts {
		border: 1px solid #f2f2f2;
		border-radius: 3px 3px 0 0;
		overflow: hidden;
		float: left;
		width: 100%;
		margin: 10px 0px 0px 0px;
		padding-bottom: 5px;
	}
		#AmazonWooCommerce-list-table-posts table {
			border-collapse: collapse;
		    border-spacing: 0;
		    margin: 0px 0px 6px 0px;
	   	}
	   		#AmazonWooCommerce-list-table-posts tr th {
	   			padding: 8px 10px;
	   		}
	   		#AmazonWooCommerce-list-table-posts table td {
	   			text-align: center;
	   			padding: 6px 10px;
	   			vertical-align: middle;
	   		}
				#AmazonWooCommerce-list-table-posts table td a {
					font-weight: bold;
					text-decoration: none;
				}
					#AmazonWooCommerce-list-table-posts table td a span.item-state {
						color: #333333;
					}

			#AmazonWooCommerce-list-table-posts table .AmazonWooCommerce-row-loading-marker {
			    left: 0px;
			    padding: 0;
			    position: relative;
			    top: -17px;
			}
			#AmazonWooCommerce-list-table-posts table .AmazonWooCommerce-row-loading {
				background-color: #484848;
				background-color: rgba(207, 222, 247, 0.8);
				position: absolute;
				top: 0px;
				z-index: 1000;
				left: 0px;
				width: 100%;
				height: 100%;
				margin-left: -10px;
				margin-top: -12px;
				padding: 0px;
			}

			#AmazonWooCommerce-list-table-posts table td .AmazonWooCommerce-focus-kw-box {
			}
				#AmazonWooCommerce-list-table-posts table td .AmazonWooCommerce-focus-kw-box .AmazonWooCommerce-text-field-kw {
					float: left;
					width: 260px;
				}
				#AmazonWooCommerce-list-table-posts table td .AmazonWooCommerce-focus-kw-box .AmazonWooCommerce-auto-detect-kw-btn {
					float: left;
					width: 80px;
					position: relative;
					bottom: -2px;
					margin: 0px 0px 0px 10px;
				}

			#AmazonWooCommerce-list-table-posts table td .AmazonWooCommerce-button img {
				max-height: 13px;
			}

			#AmazonWooCommerce-list-table-posts table td .AmazonWooCommerce-seo-report-btn {
				position: relative;
				bottom: -2px;
				font-weight: normal !important;
			}
.AmazonWooCommerce-message.AmazonWooCommerce- {
	padding-left: 20px;
} 
	.AmazonWooCommerce-message.AmazonWooCommerce- h2 {
		margin-top: 0;
	} 
	.AmazonWooCommerce-message ul {
		margin-left: 10px;
	}
/* Progress Bar */
.AmazonWooCommerce-progress {
	position: relative;
	padding: 2px;
	border: 1px solid #d7d9df;
	margin: 4px;
	background: #ecf0f1;
	margin-right: 50px;
}
	.AmazonWooCommerce-progress .AmazonWooCommerce-progress-score {
		border: 1px solid #7f8c8d;
		width: 38px;
		height: 20px;
		position: absolute;
		top: -1px;
		right: -46px;
		background: #bdc3c7;
		text-align: center;
		line-height: 21px;
		color: #fff;
		font-weight: bold;
	}
	.AmazonWooCommerce-progress-bar {
		position: relative;
		height: 16px;
		-webkit-transition: 0.4s linear;
		-moz-transition: 0.4s linear;
		-o-transition: 0.4s linear;
		transition: 0.4s linear;
		-webkit-transition-property: width, background-color;
		-moz-transition-property: width, background-color;
		-o-transition-property: width, background-color;
		transition-property: width, background-color;
	}
		.AmazonWooCommerce-progress-bar:before, .AmazonWooCommerce-progress-bar:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		.AmazonWooCommerce-progress-bar:before {
			bottom: 0;
			background: url("images/stripes.png") 0 0 repeat;
			border-radius: 4px 4px 0 0;
		}
		.AmazonWooCommerce-progress-bar:after {
			z-index: 2;
			bottom: 45%;
			border-radius: 4px;
			background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
			background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
			background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
		}

		/* define the progress bar colors by sizes */
		.AmazonWooCommerce-progress .AmazonWooCommerce-progress-bar.size_0_20 {
			background-color: #e74c3c;
		}
		.AmazonWooCommerce-progress .AmazonWooCommerce-progress-bar.size_20_40 {
			background-color: #e67e22;
		}
		.AmazonWooCommerce-progress .AmazonWooCommerce-progress-bar.size_40_60 {
			background-color: #f1c40f;
		}
		.AmazonWooCommerce-progress .AmazonWooCommerce-progress-bar.size_60_80 {
			background-color: #f1c40f;
		}
		.AmazonWooCommerce-progress .AmazonWooCommerce-progress-bar.size_80_100 {
			background-color: #2ecc71;
		}
#AmazonWooCommerce-lightbox-overlay {
	display:none;
	position: absolute;
	z-index: 99999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
}
	#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container {
		position: absolute;
		width: 800px;
		min-height: 110px;
		top: 5%;
		left: 50%;
		margin-left: -400px;
		background: #edf0f5;
	}
		#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container h1.AmazonWooCommerce-lightbox-headline {
			display: block;
			top: -2px;
			position: absolute;
			-webkit-border-radius: 2px 2px 0 0;
			-moz-border-radius: 2px 2px 0 0;
			border-radius: 2px 2px 0 0;
			background-color: #6681bb;
			border: solid 1px #5872ab;
			color: #fff;
			width: 798px;
			height: 40px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
			#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container h1.AmazonWooCommerce-lightbox-headline img.AmazonWooCommerce-lightbox-icon {
				position: relative;
				top: 6px;
				left: 10px;
				width: 24px;
			}
			#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container h1.AmazonWooCommerce-lightbox-headline span {
				display: block;
				position: absolute;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;
				font-weight: bold;
				position: absolute;
				top: 11px;
				left: 40px;
			}
			#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container h1.AmazonWooCommerce-lightbox-headline a.AmazonWooCommerce-close-btn {
				display: block;
				width: 28px;
				height: 28px;
				background: url('images/close_btn.png') no-repeat;
				background-position: -28px 0px;
				position: absolute;
				top: 7px;
				right: 6px;
			}
				#AmazonWooCommerce-lightbox-overlay #AmazonWooCommerce-lightbox-container h1.AmazonWooCommerce-lightbox-headline a.AmazonWooCommerce-close-btn:hover {
					background-position: 0px 0px;
				}

.AmazonWooCommerce-seo-status-container {
	margin: 60px 10px 0px 10px;
	padding-bottom: 10px;
}
	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-status-icon {
		width: 16px;
		height: 16px;
		background: #fff;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: block;
	}

	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row {
		border-bottom: 1px solid #dadada;
		padding: 10px 0px 10px 0px;
		float: left;
		margin: 0px 0px 0px 30px;
	}
	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row:last-child {
		border:none;
	}

	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row {
		width: 740px;
	}
		.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row p {
			margin: 0px 0px 10px 0px;
		}
		.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row .left-col {
			width: 16px;
			float: left;
			position: relative;
			left:-22px;
			bottom: -5px;
		}
		.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row .middle-col {
			width: 120px;
			float: left;
			padding: 5px 0px 0px 0px;
			font-weight: bold;
			left: -15px;
   			position: relative;
		}
		.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row .right-col {
			width: 600px;
			float: left;
			min-height: 20px;
			padding: 5px 0px 0px 0px;
		}

		.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-rule-row .right-col .message-box {
			width: 600px;
		}

		.AmazonWooCommerce-seo-status-container .message-box {
			border: 1px solid #ccc;
			padding: 2px;
			background-color: #fff;
			width: 733px;
			float: left;
			font-weight: normal;
		}
			.AmazonWooCommerce-seo-status-container .message-box strong {
				background-color: #95a5a6;
				padding: 2px 4px 2px 4px;
				margin-top: -2px;
			}
			.AmazonWooCommerce-seo-status-container .message-box.good {
				border-color: #16a085;
				background-color: #1abc9c;
				color: #fff;
			}
			.AmazonWooCommerce-seo-status-container .message-box.poor {
				border-color: #f39c12;
				background-color: #f1c40f;
				color: #fff;
			}
			.AmazonWooCommerce-seo-status-container .message-box.bad {
				border-color: #c0392b;
				background-color: #e74c3c;
				color: #fff;
			}

	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-status-icon.good {
		background: #2ecc71;
	}

	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-status-icon.poor {
		background: #f39c12;
	}

	.AmazonWooCommerce-seo-status-container .AmazonWooCommerce-seo-status-icon.bad {
		background: #e74c3c;
	}

/* Meta Box Container */
#AmazonWooCommerce_onpage_optimize_meta_box .inside,
#AmazonWooCommerce_locations_meta_box .inside,
#AmazonWooCommerce_facebook_share-options .inside {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: #f5f9fc;
	border-bottom: 7px solid #ccd9e2;
}
	#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container,
	#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container,
	#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container {
		width: 100%;
		min-height: 300px;
		border-top: 1px solid #fff;
	}
		#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu,
		#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu,
		#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu {
			width: 100%;
			height: 45px;
			background-color: #e64243;
			margin: 0px 0px 0px 0px;
		}
			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a {
				display: inline-block;
				padding: 14px 25px 14px 25px;
				font: normal 14px Arial, Helvetica, sans-serif;
				text-decoration: none;
				color: #ffffff;
				margin: 0px;
				float: left;
			}
				#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:hover,
				#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:hover,
				#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:hover {
					background: #c0392b;
				}
				#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a.open,
				#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a.open,
				#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a.open {
					background: #f5f9fc;
					color: #484848;
				}

				#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:active, #AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:focus ,
				#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:active, #AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:focus ,
				#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:active, #AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-menu a:focus {
					outline: none;
				}


	#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-container,
	#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-container,
	#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-tab-container {
		width: 98%;
		margin: 1% 1% 1% 1%;
	}
		#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box,
		#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box,
		#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box {
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			-webkit-box-shadow: 0 1px 0 1px #ccc;
			-moz-box-shadow: 0 1px 0 1px #ccc;
			box-shadow: 0 1px 0 1px #ccc;
			float: left;
			margin: 0px 0 1% 1.6%;
			min-height: 140px;
			background-color: #fff;
		}

			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box:first-child,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box:first-child,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box:first-child {
				margin-left: 0px;
			}
			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_3_of_3,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_3_of_3,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_3_of_3 {
				width: 100%;
			}
			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_3,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_3,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_3 {
				width: 66.1%;
			}
			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_1_of_3,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_1_of_3,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_1_of_3 {
				width: 32.2%;
			}
			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_2,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_2,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box.span_2_of_2 {
				width: 49%;
			}

			#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1,
			#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1,
			#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1 {
				color: #394651;
				position: relative;
				font: normal 14px Arial, Helvetica, sans-serif;
				width: 97%;
				display: block;
				border-bottom: 1px solid #ccc;
				padding: 0px 0px 8px 0px;
				margin: 10px 1.5% 10px 1.5%;
			}
				#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1 a,
				#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1 a,
				#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box h1 a {
					display: block;
					width: 17px;
					height: 15px;
					position: absolute;
					top: 0px;
					right: 0px;
				}
				#AmazonWooCommerce_onpage_optimize_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box-content,
				#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box-content,
				#AmazonWooCommerce_facebook_share-options #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box-content {
					margin: 10px 1.5% 10px 1.5%;
					width: 97%;
				}

			#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box,
			#AmazonWooCommerce_locations_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box,
			#AmazonWooCommerce_facebook_share-options .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box {
				width: 100%;
				min-height: 230px;
				border-spacing:0; 
				border-collapse:collapse;
			}
				#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td,
				#AmazonWooCommerce_locations_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td,
				#AmazonWooCommerce_facebook_share-options .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td {
					padding: 10px 20px 10px 20px;
					border-bottom: 1px solid #ededed;
				}
				#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td:first-child,
				#AmazonWooCommerce_locations_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td:first-child,
				#AmazonWooCommerce_facebook_share-options .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box td:first-child {
					padding-left: 0px;
				}

				#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box h2,
				#AmazonWooCommerce_locations_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box h2,
				#AmazonWooCommerce_facebook_share-options .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box h2 {
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 0px 0px;
				}

				#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-keyword-density-legend-container,
				#AmazonWooCommerce_locations_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-keyword-density-legend-container,
				#AmazonWooCommerce_facebook_share-options .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-keyword-density-legend-container {
					width: 100%;
					text-align: left;
					position: relative;
					top: -30px;
				}
					#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-keyword-density-legend-container table {
						margin: 0px auto;
					}
						#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-keyword-density-legend-container td {
							padding: 0px 0px 0px 2px;
						}

				.AmazonWooCommerce-keyword-density-label {
					width: 36px;
					height: 36px;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(#fcfcfc), to(#dedede), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #e8e8e8));
					background-image: -webkit-radial-gradient(center center, circle contain, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #e8e8e8 90%, #dedede);
					background-image: -moz-radial-gradient(center center, circle contain, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #e8e8e8 90%, #dedede);
					background-image: -o-radial-gradient(center center, circle contain, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #e8e8e8 90%, #dedede);
					background-image: -ms-radial-gradient(center center, circle contain, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #e8e8e8 90%, #dedede);
					background-image: radial-gradient(center center, circle contain, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #e8e8e8 90%, #dedede);
					-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
					-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
					box-shadow: 0 1px 2px rgba(0,0,0,0.2);
				}
					.AmazonWooCommerce-keyword-density-label .AmazonWooCommerce-percent {
						width: 28px;
						height: 28px;
						font-size: 10px;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						position: absolute;
						line-height: 26px;
						text-align: center;
						color: #fff;
						top: 50%;
						left: 50%;
						margin-left: -14px;
						margin-top: -14px;
					}

		#AmazonWooCommerce_locations_meta_box #AmazonWooCommerce-meta-box-container .AmazonWooCommerce-dashboard-box {
			box-shadow: none;
		}
		
		#AmazonWooCommerce-add-new-opening {
			padding-bottom: 5px;
		}
		#TB_ajaxContent .AmazonWooCommerce-form {
			padding-top: 15px;
		}
		#TB_ajaxContent .AmazonWooCommerce-shortcode-pop-up {
			overflow: hidden;
			height: auto; 
		}
		#TB_ajaxContent .AmazonWooCommerce-form .AmazonWooCommerce-grid_4 {
			width: 100%;
			margin: 0px -15px 0px 0px;
			padding: 0px 0px 0px 0px; 
		}
		
			#TB_ajaxContent .AmazonWooCommerce-form .AmazonWooCommerce-button-row {
				border: none;
				background: none;
				padding: 10px 0px 10px 0px;
				width: 100%;
				background: #f1f1f1;
				position: absolute;
				margin-left: -15px;
				bottom: 0px; 
			}
				#TB_ajaxContent .AmazonWooCommerce-form .AmazonWooCommerce-button-row input {
					margin-left: 15px;
					margin-right: 15px;
				}
		
		.AmazonWooCommerce-seo-status-container.AmazonWooCommerce-seo-score-summary {
			margin: 10px 0px 0px 0px;
		}
			.AmazonWooCommerce-seo-score-summary.AmazonWooCommerce-seo-status-container .message-box {
				float:none;
				width: 100%;
				margin: 0px 0px 4px 0px;
			}

			#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box #AmazonWooCommerce-your-focus-kw {
				display: block;
				width: 100%;
				padding: 3px 4px 3px 4px;
				-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #f5f5f5;
			}
			
			#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box h2 {
				display: block;
				width: 100%;
				padding: 3px 8px 3px 8px;
				background-color: #ecf0f1;
				font-size: 1.5em;
				color: #2c3e50;
			}
			
			#AmazonWooCommerce_onpage_optimize_meta_box .AmazonWooCommerce-dashboard-box-content #AmazonWooCommerce-seo-score-box h3 {
				display: block;
				width: 100%;
				padding: 3px 8px 3px 8px;
				background: none;
				font-family: Arial, 'Helvetica', sans-serif;
				border: 0px solid red;
				font-size: 1.3em;
				color: #2c3e50;
				cursor: default;
			}
			
			.AmazonWooCommerce-tax-meta-box #AmazonWooCommerce-meta-box-container {
				border-top: none !important;
			}

			#AmazonWooCommerce-form-meta-tags input.large-text, #AmazonWooCommerce-form-meta-tags textarea.large-text {
				width: 100%;
			}
				#AmazonWooCommerce-form-meta-tags .AmazonWooCommerce-prev-box {
					width: 512px;
				}
					#AmazonWooCommerce-form-meta-tags .AmazonWooCommerce-prev-box .AmazonWooCommerce-prev-title {
						color: #1122CC;
				    	cursor: pointer;
				    	display: block;
				    	width: 100%;
				    	font-weight: normal;
				    	line-height: 1.2;
				    }

				    #AmazonWooCommerce-form-meta-tags .AmazonWooCommerce-prev-box .AmazonWooCommerce-prev-url {
				    	font-size: 14px !important;
				    	color: #009933;
				    	display: block;
				    	width: 100%;
				    	font-weight: normal;
				    	line-height: 1.2;
				    }
				    #AmazonWooCommerce-form-meta-tags .AmazonWooCommerce-prev-box .AmazonWooCommerce-prev-desc {
				    	color: #444444;
				    	font-weight: normal;
				    	line-height: 1.2;
				    }

/* tabs */
.tabsHeader {
	margin: -11px 0px 0px 0px;
	position: relative;
	border-top: 0px solid #BFBFBF;
	background: #ecf0f1;
	padding: 0px 0px 0px 0px;
}
.tabsHeader li {
	list-style: none;
	display: inline;
}
.tabsHeader a {
	padding: 10px 10px 10px 10px;
	display: inline-block;
	color: #5c6566;
	font-weight: bold;
	border: 1px solid #BFBFBF;
	border-top: none;
	border-left: none;
	text-decoration: none;
}
.tabsHeader a:active,
.tabsHeader a:focus {
	outline: none;
}
.tabsHeader a.active {
	background: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
	outline: none;
}

.AmazonWooCommerce-list-table-search-box input.search-highlight, input.search-highlight:focus {
	background: yellow;
	color: blue;
	font-weight: bold;
}

._customMetaBox {
	width: 890px;
	margin-top: 15px;
}
._customMetaBox h3 {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 15px;
	font-weight: 400;
	padding: 7px 10px;
	margin: 0;
	line-height: 1;
}

/* Quick action - on page optimization */
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .hide {
	display: none;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .show {
	display: block;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts span.AmazonWooCommerce-inline-row-actions {
	font-size: 12px;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts span.AmazonWooCommerce-inline-row-actions a {
	font-weight: normal;
	color: grey;
}

.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .AmazonWooCommerce-inline-edit-post td > div {
	width: 100%;
	float: left;
	text-align: left;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .AmazonWooCommerce-inline-edit-post td > div > span {
	float: left;
	width: 150px;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .AmazonWooCommerce-inline-edit-post td > div > input[type="text"] {
	float: right;
	width: 300px;
	margin: 0px 0px 5px 0px;
}
.AmazonWooCommerce-table-ajax-list #AmazonWooCommerce-list-table-posts .AmazonWooCommerce-inline-edit-post td > div > select {
	float: right;
	width: 300px;
	margin: 0px 0px 5px 0px;
}

.AmazonWooCommerce-notify-engine-ping .success {
	color: green;
}
.AmazonWooCommerce-notify-engine-ping .error {
	color: red;
}

.AmazonWooCommerce-geocode-status .show {
	color: blue;
}
.AmazonWooCommerce-geocode-status .success {
	color: green;
}
.AmazonWooCommerce-geocode-status .error {
	color: red;
}
.upload_image_preview {
	min-width: 150px;
	height: auto;
	margin: 10px 0px 0px 0px;  
	display: inline-block;
	position: relative;
}
	.AmazonWooCommerce-upload-image-wp-box .AmazonWooCommerce-prev-buttons {
		margin: 5px 0px 0px 0px;
	}
	.AmazonWooCommerce-upload-image-wp-box .AmazonWooCommerce-prev-buttons span:last-child {
		margin-left: 5px;
	}
	.upload_image_preview img {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: auto;
		height: auto;
		border: 1px solid #dadada;
		padding: 2px;
	}
	
.AmazonWooCommerce-wp-credential {
	border: 1px solid #f2f2f2;
	margin: 10px 0px 0px 0px;
	background: #fff;
	width: 400px !important; 
}
	.AmazonWooCommerce-wp-credential #AmazonWooCommerce-password {
		font-weight: bold;
	}
	
	.AmazonWooCommerce-file-access-credential {
		border: 1px solid #f2f2f2;
		margin: 10px 0px 0px 0px;
		background: #fff;
	}
		.AmazonWooCommerce-file-access-credential #AmazonWooCommerce-password {
			font-weight: bold;
		}

.AmazonWooCommerce-aff-ids {
}
	.AmazonWooCommerce-form .AmazonWooCommerce-aff-ids input {
		width: 250px;
		margin: 0px 5px 5px 0px;
	}
	.AmazonWooCommerce-form .AmazonWooCommerce-aff-ids img {
		position: relative;
		bottom: -6px;
		margin: 0px 5px 0px 0px;
	}

div.AmazonWooCommerce-process-progress {
	margin: 0 auto;
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	color: #0b1317;
	line-height: 60px;
	font-weight: bold;
}
div.AmazonWooCommerce-process-progress:after {
	content: "";
	-moz-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.75s alternate-reverse infinite;
	-webkit-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.75s alternate-reverse infinite;
	animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.75s alternate-reverse infinite;
	background-color: #32df80;
	position: absolute;
	bottom: 30%;
	left: 10%;
	width: 6px;
	height: 6px;
}
@-moz-keyframes wormsPong {
  50% {
    width: 80%;
    left: auto;
    right: 0;
  }
}
@-webkit-keyframes wormsPong {
  50% {
    width: 80%;
    left: auto;
    right: 0;
  }
}
@keyframes wormsPong {
  50% {
    width: 80%;
    left: auto;
    right: 0;
  }
}
.AmazonWooCommerce-asset-download-lightbox {
	position: absolute;
	z-index: 99999;
	background: rgba( 11, 19, 23, 0.7 );
	top: 0;
	left: -1px;
	right: 0;
	bottom: 0;
}
	.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box {
		position: absolute;
		left: 50%;
		top: 10%;
		margin-left: -300px;
		width: 600px;
		height: 600px;
		background: #eceff0;
		border-radius: 5px;
	}
		.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box h1 {
			width: 98%;
			display: block;
			padding: 8px 1% 10px 1%;
			font-size: 16px;
			background: #1c2a30;
			color: #fff;
			margin: 0px 0px 0px 0px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			position: relative;
			top: -2px;
			text-indent: 6px;
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		}
			.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box h1 .AmazonWooCommerce-button {
				position: absolute;
				right: 6px;
   				top: 4px;
   				display: none;
			}
		.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-donwload-notice {
			border: 0px solid red;
			margin: -3px 0px 0px 0px;
			background-image: none;
			padding-left: 15px;
		}
		.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail {
			width: 96%;
			overflow: auto;
			height: 112px; 
			background: rgba(141, 157, 163, 0.5);
			margin-top: 0px;
			padding-left: 2%;
			padding-right: 2%;
		}
			.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail ul {
				margin: 0px 0px 0px 0px;
			}
			.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail ul li {
				width: 75px;
				height: 75px;
				background: #fff;
				display: inline-block; 
				text-align: center;
				margin-right: 5px;
				margin-top: 10px;
				opacity: 0.2;
				position: relative;
			}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail ul li img {
					display: block;
				}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail ul li.inprogress {
					opacity: 1;
				}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-images-tail ul li .AmazonWooCommerce-process-progress {
					position: absolute;
					top: 0px;
					background: rgba(255,255,255, 0.5);
					width: 100%;
					height: 100%;
					z-index: 10;
					left: 0px;
				}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-process-progress-bar {
					overflow: hidden;
					height: 30px;
					background-color: #cfd8da;
					-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
					box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
					margin-bottom: 0px;
					width: 100%;
					margin-top: 0px;
				}
					.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-process-progress-marker {
						width: 0%;
						height: 100%;
						height: 30px;
						overflow: hidden;
						color: #fff;
						text-align: center;
						background-color: #32df80;
						line-height: 30px;
					}
					.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-process-progress-marker {
						background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
						background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
						background-size: 40px 40px;
					}
					.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-donwload-in-progress-box .AmazonWooCommerce-process-progress-marker span {
						font-weight: bold;
						color: #1c2a30;
					}
			
			.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-process-headline {
				background: #1c2a30;
				padding: 6px 0px 6px 0px;
				margin: 20px 0px 0px 0px;
				width: 100%;
				text-indent: 10px; 
				display: block;
				color: #fff;
				font-size: 14px;
				border-top: 1px solid #fff;
			}
			.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-debug-info {
				border-spacing: 0;
    			border-collapse: collapse;
    			border-bottom: 1px solid #DCDCDC;
			}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-debug-info td {
					padding-left: 10px;
					padding-right: 10px;
				}
				.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-debug-info td:last-child {
					font-weight: bold;
				}
		.AmazonWooCommerce-asset-download-lightbox .AmazonWooCommerce-downoad-log {
			width: 99%;
			height: 172px;  
			margin: 10px 0px 0px 0px;
			overflow: auto;
			padding-left: 1%;
		}
	
#AmazonWooCommerce-module-manager.AmazonWooCommerce-table {
	border-collapse:collapse;
}
	#AmazonWooCommerce-module-manager.AmazonWooCommerce-table tr td:first-child img {
		background: #5a1977;
		padding: 2px;
	}

#AmazonWooCommerce_aateam_products .AmazonWooCommerce-dashboard-status-box {
	height: 307px; 
}
#AmazonWooCommerce-aa-preview {
	width: 590px;
	height: 300px;
	padding: 15px;
	background: #34404c;
	border: 1px solid #293541;  
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	overflow: hidden;
}
	#AmazonWooCommerce-aa-preview img {
		border: 1px solid rgba(255,255,255, 0.5);
	}
#AmazonWooCommerce_aateam_products .AmazonWooCommerce-dashboard-status-box-content {
	padding: 0px 0px 0px 0px;
}
.AmazonWooCommerce-aa-products-tabs {
	background: #f7f9f9;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	top: 48px;
	left: 15px; 
	right: 15px;
	height: 55px;
	overflow: hidden;
}
	.AmazonWooCommerce-aa-products-tabs li {
		display: inline-block;
		margin-right: -4px;
	}
		.AmazonWooCommerce-aa-products-tabs li a {
			display: block;
			width: 250px;
			height: 55px;
			background: url("images/envato_sprites.png") no-repeat top left;
			text-indent: -1000px;
			overflow: hidden;
			border-right: 1px solid #ebebeb;
		}
			.AmazonWooCommerce-aa-products-tabs li a:focus,
			.AmazonWooCommerce-aa-products-tabs li a:active {
				outline: none;
			}
			.AmazonWooCommerce-aa-products-tabs li:last-child a {
				border: none;
			}
			.AmazonWooCommerce-aa-products-tabs li a.AmazonWooCommerce-aa-items-codecanyon {
				background-position: 10px 10px;
			}
			.AmazonWooCommerce-aa-products-tabs li a.AmazonWooCommerce-aa-items-themeforest {
				background-position: 10px -44px;
			}
			.AmazonWooCommerce-aa-products-tabs li a.AmazonWooCommerce-aa-items-graphicriver {
				background-position: 10px -115px;
			}
		
		.AmazonWooCommerce-aa-products-tabs li:hover:not(.on) {
			background-color: #ecf0f1;
		}
		.AmazonWooCommerce-aa-products-tabs li.on {
			background-color: #fff;
		}
		
		#AmazonWooCommerce-content #AmazonWooCommerce-help-container {
			bottom: 0;
		    left: 250px !important;
		    position: absolute !important;
		    right: 10px !important;
		    top: 125px !important;
		    z-index: 999 !important;
		    overflow: hidden;
		    border-radius: 0;
		}
			#AmazonWooCommerce-content #AmazonWooCommerce-help-container #AmazonWooCommerce-close-help {
				border: 3px solid #FFFFFF;
			    left: 50%;
			    margin-left: -50px;
			    position: absolute;
			    top: -3px;
			}
		
	#AmazonWooCommerce-row-alias-aateam_products .AmazonWooCommerce-aa-products-container {
		position: absolute;
		top: 120px;
		left: 15px;
		right: 15px;
		overflow: auto;
		height: 200px;
		display: none;
	}
		#AmazonWooCommerce-row-alias-aateam_products .AmazonWooCommerce-aa-products-container:first-child {
			display: block;
		}
		#AmazonWooCommerce-row-alias-aateam_products .AmazonWooCommerce-aa-products-container ul {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
			#AmazonWooCommerce-row-alias-aateam_products .AmazonWooCommerce-aa-products-container ul li {
				display: inline-block;
				margin-right: -4px;
			}
				#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a {
					display: block;
					width: 120px;
					height: 170px;  
					-webkit-border-radius: 2px;
					-o-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					background: #f7f9f9;
					margin-right: 15px;
					text-align: center;
					text-decoration: none;
				}
					#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a:hover {
						background-color: #ecf0f1;
					}
					#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a img {
						margin-top: 15px;
					}
					#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a span {
						width: 80px;
						height: 15px;
						margin: 10px auto;
						display: block;  
						background: url("images/stars_sprite.png") no-repeat top left;
					}
						#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a span.the-rate-4 {
							background-position: 0px -15px; 
						}
						#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a span.the-rate-3 {
							background-position: 0px -31px; 
						}
						#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a span.the-rate-2 {
							background-position: 0px -47px; 
						}
						#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a span.the-rate-1 {
							background-position: 0px -63px; 
						}
					#AmazonWooCommerce-row-alias-aateam_products  .AmazonWooCommerce-aa-products-container ul li a strong {
						color: #252633;
						font-weight: 400;
						font-size: 18px;
					}
	
.AmazonWooCommerce-last-updated-product {
	clear: both;
	margin-top: 30px;
}	
	
.AmazonWooCommerce-product-preview {
	padding: 10px 10px 10px 10px;
}
	.AmazonWooCommerce-product-preview img {
		border: 1px solid #F2F2F2;
	}
	.AmazonWooCommerce-product-preview .AmazonWooCommerce-product-label {
		border-bottom: 1px solid #F2F2F2;
		padding: 5px 5px 5px 5px;
	}
	.AmazonWooCommerce-product-preview .AmazonWooCommerce-product-label:last-child {
		padding: 5px 0px 0px 0px;
		border: 0px solid red;
	}
		.AmazonWooCommerce-product-preview .AmazonWooCommerce-product-label .AmazonWooCommerce-button {
			width: 128px;
			text-align: center;
		}

table#AmazonWooCommerceContentSpinner tr td {
	padding: 0px 0px 0px 0px;
}
.AmazonWooCommerce-spinn-content {
	width: 100%;
	background: #fbfbfb;
	margin: 0px !important;
}
	.AmazonWooCommerce-spinn-container {
		position: relative;
	}	
		body .AmazonWooCommerce-spinn-container .AmazonWooCommerce-row-loading-marker {
			position: absolute !important;
			top: 0px !important;
			left: 0px !important;
			width: 100%;
			height: 100%;
		}
		.AmazonWooCommerce-spinn-container .AmazonWooCommerce-row-loading {
			margin: 0px 0px 0px 0px !important;
		}
	.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-content-editor {
		width: 92%;
		height: 300px;
		background: #fff;
		overflow: auto;
		text-align: left;
		padding: 2% 2% 2% 2%;
		margin: 2%;
	}
	.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container {
		/*border: 1px solid red;*/
	}
	.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-original-content span {
		border-bottom: 2px solid #f1c40f;
	}
		.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container div.AmazonWooCommerce-spin-replacement {
			border-bottom: 2px solid #27ae60;
			width: auto;
			display: inline-block;
			position: relative;
		}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container .AmazonWooCommerce-hightlight,
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-original-content span.AmazonWooCommerce-hightlight {
				background-color: #fff7a2;
			}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container div.AmazonWooCommerce-spin-replacement .AmazonWooCommerce-spin-current-replacement {
				cursor: pointer;
			}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container div.AmazonWooCommerce-spin-replacement select.AmazonWooCommerce-spin-replacements-list {
				position: absolute;
				display: none;
				top: 10px;
				left: 0px;
			}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container {
				position: relative;
			}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container .AmazonWooCommerce-spin-replacement-box {
				display: none;
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 180px;
				background: #95a5a6;
				z-index: 10;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container .AmazonWooCommerce-spin-replacement-box a.close {
				font-size: 30px;
				font-weight: bold;
				line-height: 18px;
				color: #fff;
				background: #c0392b;
				line-height: 22px;
				text-decoration: none;
				display: block;
				width: 26px; 
				height: 26px;
				position: absolute;
				top: -25px;
				right: 0px;
			}
				.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container .AmazonWooCommerce-spin-replacement-box a.close:hover {
					background: #e74c3c;
				}
				.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container .AmazonWooCommerce-spin-box-suggest {
					width: 96%;
					margin-left: 2%;
					height: 140px;
					border: 1px solid #dadada;
					background: #fff;
					overflow: auto;
				}
					.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select {
						margin: 0px 0px 0px 0px;
						text-align: left;
					}
						.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select li {
							border-bottom: 1px solid #f1f1f1;
							margin: 0px 0px 0px 0px;
							padding: 3px 5px 3px 5px;
							cursor: pointer;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
						}
						.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select li.current {
							background: #27ae60;
							color: #fff;
							cursor: default;
						}
						.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select li:not(.current):hover {
							background: #f1f1f1;
							color: #000;
						}
						.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select li.original {
							/*background: #bdc3c7;
							color: #fff;*/
							padding-top: 0px;
						}
							.AmazonWooCommerce-spin-box-suggest .AmazonWooCommerce-spin-box-suggest-select li sup {
								position: relative;
								bottom: -2px;
								right: -4px;
							}
				.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-editor-container .AmazonWooCommerce-spin-box-suggest-options {
					width: 96%;
					margin-left: 2%;
					margin-top: 10px;
				}
					.AmazonWooCommerce-spin-box-suggest-options .AmazonWooCommerce-skip-to-prev {
						width: 48%;	
						margin-left: 1%;
						margin-right: 1%;
						padding-left: 0px;
						padding-right: 0px;
					}
					.AmazonWooCommerce-spin-box-suggest-options .AmazonWooCommerce-skip-to-next {
						width: 47%;	
						margin-left: 1%;
						margin-right: 1%;
						padding-left: 0px;
						padding-right: 0px;
					}

		body .AmazonWooCommerce-spinn-content .AmazonWooCommerce-spinner-container select {
			position: static;
			top: 0px;
			bottom: 0px;
			height: auto;
			width: auto;
			margin: 2px 0px 2px 0px;
			left: 0px;
			float: none;
			display: inline-block;
		}
	.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-options {
		text-align: left;
		padding: 0 2% 2% 2%;
		overflow: hidden;
	}
		.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-options .AmazonWooCommerce-button {
			float: left;
		}
		.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-options label {
			float: left;
		}
		.AmazonWooCommerce-spinn-content .AmazonWooCommerce-spin-options .AmazonWooCommerce-spin-replacements {
			float: left;
			width: 200px;
			position: relative;
			right: -15px;
			top: -1px;
		}
	body table.AmazonWooCommerce-spinn-content td {
		border: none;
		vertical-align: top !important;
	}
		.AmazonWooCommerce-spinn-content h2 {
			padding: 15px 0px 15px 0px;
			margin: 0px 0px 0px 0px;
			display: block;
			background: #46cbb4;
			color: #fff;
			display: block;
			text-align: left;
			width: 100%;
			text-indent: 15px;
		}
	.AmazonWooCommerce-spinn-border-right {
		border-right: 1px solid #f7f7f7 !important;
	}

.AmazonWooCommerce-numer-items-in-top {
	display: inline-block !important;
	width: 70px !important;
	font-size: 14px !important;
}
.AmazonWooCommerce-products-summary {
	border-bottom: 1px solid #dadada;
	width: 100%;
	overflow: hidden;
	height: 40px;
	padding-bottom: 20px;
	margin: 5px 0px 25px 0px;
}
	.AmazonWooCommerce-products-summary .the-item-stat {
		display: block;
		width: 200px;
		height: 40px;
		float: left;
		padding: 4px 4px 4px 4px;
		margin-right: 10px;
	}
		.AmazonWooCommerce-products-summary .the-item-stat:hover {
			background: #ecf0f1;
			border-radius: 4px;
		}
		.AmazonWooCommerce-products-summary .AmazonWooCommerce-summary-icon {
			display: block;
			float: left;
			width: 40px; 
			height: 40px;
			border-radius: 4px;
			position: relative;
		}
			.AmazonWooCommerce-products-summary .AmazonWooCommerce-summary-icon img {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -16px;
				margin-top: -16px;
			}
		.AmazonWooCommerce-products-summary .AmazonWooCommerce-summary-text {
			display: block;
			float: left;
			width: auto;
			margin: 5px 0px 0px 10px;
		}
			.AmazonWooCommerce-products-summary .AmazonWooCommerce-summary-text span:first-child {
				color: #444444;
				font-size: 21px;
				font-weight: bold;
				display: block;
				width: 100%;
				font-family: 'OpenSans', Arial, Helvetica, sans-serif;
			}
			.AmazonWooCommerce-products-summary .AmazonWooCommerce-summary-text span:last-child {
				color: #444444;
				font-size: 12px;
				font-weight: normal;
				display: block;
				width: 100%;
				font-family: 'OpenSans', Arial, Helvetica, sans-serif;
			}
	
.AmazonWooCommerce-top-products {
	overflow: hidden;
	width: 100%;
}
	.AmazonWooCommerce-top-products li {
		float: left;
		height: 80px; 
		width: 320px;
		display: block;
		margin: 0px 20px 20px 0px;
	}
		.AmazonWooCommerce-top-products li div.AmazonWooCommerce-prod-position {
			float: left;
			width: 45px; 
			height: 80px; 
			position: relative;
		}
		.AmazonWooCommerce-top-products li .AmazonWooCommerce-the-product-image {
			width: 75px;
			height: 75px; 
			border: 1px solid #BDC3C7;
			padding: 1px;
			margin: 2px 0px 0px 0px;
			float: left; 
			overflow: hidden;
		}
			.AmazonWooCommerce-top-products li .AmazonWooCommerce-the-product-image img {
				width: 100%;
			}
			.AmazonWooCommerce-top-products li div.AmazonWooCommerce-prod-position span {
				display: block;
				background: #5A1977;
				width: 34px;
				height: 22px;
				line-height: 22px;
				border-radius: 5px;
				font-weight: bold;
				color: #fff;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 0%;
				margin-top: -10px;
				vertical-align: center;
			}
			
			.AmazonWooCommerce-top-products li:nth-child(1) div.AmazonWooCommerce-prod-position span {
				background: #f1c40f;
			}
			.AmazonWooCommerce-top-products li:nth-child(2) div.AmazonWooCommerce-prod-position span {
				background: #bdc3c7;
			}
			.AmazonWooCommerce-top-products li:nth-child(3) div.AmazonWooCommerce-prod-position span {
				background: #e67e22;
			}
		.AmazonWooCommerce-top-products li a.AmazonWooCommerce-the-product {
			display: block;
			float: left;
			width: 270px; 
			text-decoration: none;
		}
			.AmazonWooCommerce-top-products li a.AmazonWooCommerce-the-product span {
				display: block;
				float: left;
				width: 180px;
				margin-left: 10px;
				color: #484848;
				border-bottom: 1px solid #bdc3c7;
				padding: 2px 0px 5px 0px;
			}

.AmazonWooCommerce-prod-stats-number {
	padding: 2px 8px 2px 8px;
	border-radius: 4px;
	background: #bdc3c7;
	color: #fff;
}

.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel {
	background: #e74c3c;
	padding-bottom: 20px;
}
	.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-panel-header .AmazonWooCommerce-panel-title {
		border-color: #c0392b;
	}
	.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-panel-header {
		color: #fff;
	}
		.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details {
			margin-left: 20px;
			margin-right: 20px;
			color: #fff;
		}
			.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details .AmazonWooCommerce-button.white_red,
			.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details .AmazonWooCommerce-button.white_blue {
				background-color: #fff;
				color: #484848;
			}
				.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details .AmazonWooCommerce-button.white_red:hover {
					background-color: #c0392b;
					color: #fff;
				}
				.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details .AmazonWooCommerce-button.white_blue:hover {
					background-color: #2980b9;
					color: #fff;
				}
			.AmazonWooCommerce-error-using-module div.AmazonWooCommerce-panel .AmazonWooCommerce-error-details .AmazonWooCommerce-button {
				position: relative;
				bottom: -9px;
			}